@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap");

* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
    color: var(--primary-color);
    font-style: normal;
}
:root {
    --primary-color: #696d76;
    --secondary-color: #212832;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--secondary-color);
}
a {
    text-decoration: none;
}
a,
input,
textarea,
button,
select {
    font-size: inherit;
    font-family: inherit;
    color: inherit;
}

/* Common */

.container {
    width: 1170px;
    max-width: calc((100% - 48px));
    margin: 0 auto;
}
.section-label {
    display: flex;
    align-items: center;
    line-height: 1.75rem; /* 175% */
}
.section-label::before {
    display: block;
    left: 0;
    content: "";
    width: 18px;
    height: 2px;
    background: #696d77;
    margin-right: 12px;
}
.section-heading {
    margin-top: var(--margin-top, 12px);
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.25; /* 125% */
}
.section-desc {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.67; /* 166.667% */
    margin-top: 20px;
}
.btn {
    background-color: var(--secondary-color);
    min-width: var(--min-witdh, 113px);
    color: var(--color, #fff);
    padding: 15px 30px;
    border-radius: 0.8rem;
    border: none;
    outline: none;
    cursor: pointer;
}
.btn:hover {
    opacity: 0.9;
}
.d-flex {
    display: flex;
}
.d-grid {
    display: grid;
}
.center {
    align-items: center;
    justify-content: center;
}
.center-x {
    justify-content: center;
}
.center-y {
    align-items: center;
}
/* HEADER */
.header__inner {
    padding-top: 42px;
    grid-template-columns: auto 1fr auto;
}
.navbar__list {
    margin-left: 70px;
    column-gap: 48px;
}
.navbar__item {
    position: relative;
}
.navbar__item:hover,
.navbar__item--active {
    text-shadow: 1px 0 0 currentColor;
    color: var(--secondary-color);
}
.navbar__item:hover.navbar__item::before,
.navbar__item--active::before {
    position: absolute;
    bottom: -7px;
    left: 0;
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    border-radius: 4px;
    background: #7264d6;
}
.header__login {
    color: var(--secondary-color);
    font-weight: 600;
    line-height: 2.8rem; /* 175% */
    margin-right: 28px;
}
.header__login:hover {
    text-decoration: underline;
}

/* HERO */
.hero {
    margin-top: 76px;
}
.hero__inner {
    grid-template-columns: 1fr 1fr;
}
.hero__content {
    padding-right: 60px;
}
.hero__heading {
    font-size: 6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 7rem; /* 116.667% */
    margin-top: 12px;
}
.hero__heading strong {
    color: #7264d6;
}
.hero__desc {
    font-size: 1.8rem;
    margin-top: 20px;
}
.subcribe-wrap {
    margin-top: 40px;
}
.subcribe-form {
    width: 540px;
    height: 74px;
    padding: 8px;
    border-radius: 0.8rem;
    background: #fff;
    box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
}
.subcribe-form__input {
    flex-grow: 1;
    padding: 0 15px;
    border: none;
    outline: none;
}
.subcribe-form__btn {
    background-color: #7264d6;
    font-weight: 600;
    line-height: 1.75; /* 175% */
}
.subcribe__label {
    display: block;
    font-size: 1.4rem;
    font-weight: 600;
    margin-top: 20px;
}
.hero__media {
    position: relative;
}
.hero__img {
    display: block;
    width: 296px;
    margin-left: 100px;
}
.deposite {
    position: absolute;
    top: 113px;
    font-size: 1.4rem;
    font-weight: 600;
    color: #31456a;
    width: 174px;
    height: 46px;
    padding: 16px 10px;
    border-radius: 0.6rem;
    background: #fff;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
}
.deposite strong {
    color: #4ab5e3;
    line-height: 1; /* 100% */
    margin-left: 19px;
    font-weight: normal;
}
.interest {
    position: absolute;
    right: 0;
    top: 127px;
    flex-direction: column;
    width: 13rem;
    height: 13rem;
    flex-shrink: 0;
    background-color: #da6464;
    color: #fff;
    border-radius: 50%;
}
.interest strong {
    font-size: 4.4rem;
    font-weight: 600;
}
.funds {
    position: absolute;
    right: 100px;
    bottom: 61px;
    font-size: 0.8rem;
    font-weight: 400;
    text-wrap: nowrap;
    grid-template-columns: auto 1fr;
    column-gap: 11px;
    width: 124px;
    height: 68px;
    padding: 20px 15px;
    border-radius: 1rem;
    background: #439f90;
    color: #fff;
}
.funds strong {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 5px;
}

/* HOW IT WORK */
.work {
    margin-top: 160px;
}
.work__inner {
    grid-template-columns: 1fr 1fr;
}
.work__media {
    position: relative;
}
.work-img__wrap {
    position: relative;
    width: 470px;
    height: 620px;
}
.work__card {
    position: absolute;
    width: 64px;
    top: 76px;
    right: 162px;
}
.work_noti {
    position: absolute;
    right: 0;
    bottom: 96px;
    padding: 15px;
    border-radius: 8px;
    column-gap: 10px;
    background: #fffdfa;
    box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.07);
}
.work_noti strong {
    color: var(--secondary-color);
    font-family: Inter;
    font-size: 1.4rem;
    font-weight: 600;
}
.work_noti p {
    font-family: Inter;
    font-size: 1.2rem;
    margin-top: 5px;
}
.work__background {
    display: block;
    position: absolute;
    bottom: 0;
}
.work__img {
    position: absolute;
    display: block;
    left: 7px;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.work__content {
    padding-left: 130px;
}
.work-guide {
    margin-top: 70px;
    row-gap: 30px;
}
.work-guide__step {
    color: var(--secondary-color);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.45; /* 145.455% */
}

.work-guide__desc {
    margin-top: 16px;
}

/* FEATURE */
.feature {
    margin-top: 160px;
}
.feature__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.feature__content {
    padding-right: 115px;
}
.feature__desc {
    margin-top: 20px;
    font-size: 1.8rem;
}
.feature__list {
    margin-top: 28px;
    display: grid;
    row-gap: 18px;
}
.feature__item {
    color: var(--secondary-color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67; /* 166.667% */
    column-gap: 12px;
}
.feature__cta {
    --min-witdh: 149px;
    margin-top: 38px;
}
.feature__media {
    position: relative;
    padding-left: 15px;
}
.feature-noti {
    position: absolute;
    right: 0;
    top: -48px;
    width: 276px;
    height: 86px;
    padding: 27px 13px;
    flex-shrink: 0;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 14px 38px 0px rgba(0, 0, 0, 0.07);
}
.feature-noti__left {
    margin-left: 14px;
}
.feature-noti__title {
    color: var(--secondary-color);
    font-family: Inter;
    font-size: 1.2rem;
    font-weight: 500;
}
.feature-noti__desc {
    color: var(--primary-color);
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 4px;
}
.feature-noti__right {
    margin-left: 67px;
}
.feature-noti__right strong {
    color: var(--secondary-color);
    font-family: Inter;
    font-size: 1.6rem;
    font-weight: 400;
}
.feature-noti__date {
    color: var(--primary-color);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 3px;
}
.feature-noti2 {
    position: absolute;
    right: 0;
    bottom: -55px;
    width: 120px;
    height: 120px;
    display: grid;
    align-items: center;
    padding: 14px 15px;
    flex-shrink: 0;
    background-color: #439f90;
    color: #fff;
    border-radius: 16px;
}
.feature-noti2__text {
    font-size: 1.2rem;
}
.feature-noti2 strong {
    font-size: 1.8rem;
    font-weight: 600;
}
/* FEATURE 2*/
.feature__content--bottom {
    margin-top: 160px;
    padding-right: 0;
    padding-left: 115px;
}
.feature__media--bottom {
    margin-top: 160px;
    padding-left: 0;
}
.feature-wrap__img--bottom {
    position: relative;
    width: 470px;
    height: 600px;
}
.feature__background {
    position: absolute;
    bottom: 0;
    left: 0px;
    display: block;
    height: 432px;
}
.feature__img {
    position: absolute;
    bottom: 0;
    left: 29px;
    display: block;
}
.feature-wrap__card {
    position: absolute;
    bottom: 57px;
    right: 0;
    background: #fff;
    border-radius: 4px;
    padding: 28px;
    box-shadow: 0px 44px 48px rgba(0, 0, 0, 0.1);
}
.feature-cards__title {
    color: var(--secondary-color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67; /* 166.667% */
}
.feature-list {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 18px;
}
.feature__cta--bottom {
    --min-witdh: 63px;
    background: #f9ea63;
    border-radius: 4px;
}

/* FEEDBACK */
.feedback {
    margin-top: 160px;
}
.feedback__top {
    width: 435px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}
.feedback__bottom {
    margin-top: 70px;
}
.feedback__carousel {
    overflow: hidden;
}
.feedback__list {
    display: flex;
}
.feedback-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
}
.feedback-item__qoute {
    position: relative;
    width: 570px;
    box-shadow: 0px 22px 54px 0px #00000012;
    padding: 42px 28px;
    background: #fff;
    color: #696d76;
    text-align: center;
    font-size: 2.2rem;
    font-style: italic;
    line-height: 1.54; /* 154.545% */
    border: 1px solid transparent;
    border-radius: 4px;
}
.feedback-item__qoute::after {
    content: "";
    position: absolute;
    width: 70px;
    height: 70px;
    bottom: -35px;
    left: 50%;
    background: #fff;
    transform: translateX(-50%) rotate(45deg);
    box-shadow: 0px 22px 54px 0px #00000012;
}
.feedback-item__qoute:hover {
    border: 1px solid #dfe2e8;
}
.feedback-item__qoute:hover.feedback-item__qoute::after {
    border-bottom: 1px solid #dfe2e8;
    border-right: 1px solid #dfe2e8;
}
.feedback__info {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.feedback-img__wrap {
    width: 104px;
    height: 104px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #4ab5e3;
}
.feedback-item__img {
    display: block;
    margin-top: 7px;
    width: 100%;
    border-radius: inherit;
}
.feedback-item__author {
    color: #070052;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.4; /* 138.462% */
}
.feedback-item__career {
    font-size: 1.8rem;
}
.dots {
    display: flex;
    column-gap: 12px;
    justify-content: center;
    margin-top: 38px;
}
.dot {
    width: 22px;
    height: 6px;
    border-radius: 1px;
    border: 1px solid #9b9fab;
}
.dot--active {
    background-color: #7264d6;
    border-color: #7264d6;
}
